<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <ul>
      <% if (locals.users) {%> <% users.forEach((user)=> { %>
      <li>
        ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,
        Email: <%= user.email %><% if(user.age) { %>, Age: <%= user.age %> <% }
        %> <% if (user.bio) { %>
        <div>
          <p>Bio:</p>
          <p><%= user.bio %></p>
        </div>
        <% } %>

        <a href="/<%= user.id%>/update">Update</a>

        <form
          action="/<%= user.id %>/delete"
          method="post"
          style="display: inline"
        >
          <button
            type="submit"
            onclick="return confirm('Are you sure you want to delete this user?')"
          >
            Delete
          </button>
        </form>
      </li>
      <% }); %> <% } %>
    </ul>
  </body>
</html>
